@import 'tailwindcss';
@config "../../tailwind.config.mjs";

body {
    height: 100vh;
}

body,
.bg-background {
    background-color: #f4f4f5; /* Light Gray for light mode */
}

.dark body,
.dark .bg-background {
    background-color: #18181b; /* Dark Gray for dark mode */
}
